<footer class='footer' >
    <div class='container'>
        <span class='text-muted'>&copy 2018. ISWIKI</span>
        <p>Please contact us. If you have any question.</p>
    </div>
</footer>
<style type=text/css> /*footer*/
  body > footer.footer{
    position:absolute;
    background-color:black;
    color:white;
    text-align:center;
    height:150px;
    padding: 35px 10px 35px 10px;
    /*extra.css에서 bottom:0 삭제*/
  }
  body > footer > div > span{
    color:#8a8a8a;/*bootstrap css에서 important 삭제 혹은 구문전체 삭제.*/
  }
  /*푸터 html 구문 변경해야함. 확인*/
</style>
