<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ISWIKI</a>
        </div>
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Door</a></li>
                    <li><a href="/list">List</a></li>
                    <li><a href="/recentchange">Changed</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/trends">Trends</a></li>
                    <button type="button" id="random" onClick="random()" class="btn btn-outline-secondary">Random</button>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="GET" action="/search">
                   <div class="form-group">
                       <input id="searchWord" name="searchWord" type="text" class="form-control">
                   </div>
                   <button type="submit" class="btn btn-default">Search</button>
               </form>
            </div>
    </div>
</nav>

<script>
    var random = function(){
        $.ajax({
            url: '/random',
            type: 'post',
            dataType: 'JSON',
            success: function(result)
            {
                if(result.status == 1){
                    location.href ="/show?id="+result.path;
                } else {
                    alert("꽝! 없는 페이지입니다.")
                    location.replace('/');
                }   
            }
        })
    }
</script>

