<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top" style="background-color: #e3f2fd;">  
        <a class="navbar-brand" href="/">ISWIKI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recentchange">Changed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trends">Trends</a>
            </li>
            <button type="button" id="random" onClick="random()" class="btn btn-outline-secondary">Random</button>
          </ul>
        </div>
        <form class="form-inline " role="search" method="GET" action="/search">
            <input id="searchWord" name="searchWord" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

<script>
    var random = function(){
        $.ajax({
            url: '/random',
            type: 'post',
            dataType: 'JSON',
            success: function(result)
            {
                if(result.status == 1){
                    location.href ="/show?id="+result.path;
                } else {
                    alert("꽝! 없는 페이지입니다.")
                    location.replace('/');
                }   
            }
        })
    }
</script>

