<!DOCTYPE HTML>

<html>
<head>
    <title><%= title %></title>
    <%include ../../partials/stylesheet %>
    <% include ../../partials/ck %>
</head>
<body>
    <% include ../../partials/nav_backdoor %>
    <div class="container">
        <div class="page-header">
            <h2>관리자 페이지</h2>
            <ul>
                <li><h3><a class="text-dark" href="backdoor/delete">페이지 제거</a></h3></li>
            </ul>
        </div>
    </div>
    
    
    <script type="text/javascript">
       
    </script>

    <% include ../../partials/footer %>
    <% include ../../partials/javascript %>

</body>
</html>
