<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poiret+One|Raleway:700" rel="stylesheet">
    <%include ../../partials/stylesheet %>
    <%include ../partials/outindexcss %>
    <% include ../../partials/ck %>
    <script>
      $(document).ready(function(){
        $(window).bind('scroll', function() {
        var navHeight = $( window ).height() - 70;
          if ($(window).scrollTop() > navHeight) {
            $('nav').addClass('fixed');
          }
          else {
            $('nav').removeClass('fixed');
          }
        });
      });
    </script>
</head>
<body>
    <% include ../../partials/nav_backdoor %>
    <div class="container">
        <div class="page-header">
            <h2>매니저 DB 관리</h2>

        </div>
    </div>


    <script type="text/javascript">

    </script>

    <% include ../../partials/footer %>
    <% include ../../partials/javascript %>

</body>
</html>
