<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <%include ../../partials/stylesheet %>
    <% include ../../partials/ck %>
</head>
<body>
    <% include ../../partials/nav_backdoor %>
    <div class="container">
        <div class="page-header">
            <h2>매니저 DB 관리</h2>
            
        </div>
    </div>
    
    
    <script type="text/javascript">
       
    </script>

    <% include ../../partials/footer %>
    <% include ../../partials/javascript %>

</body>
</html>
