<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Poiret+One|Raleway:700" rel="stylesheet">
    <%include ../../partials/stylesheet %>
    <%include ../../partials/outindexcss %>
    <% include ../../partials/ck %>
    <% include ../../partials/meta %>

</head>
<body>
    <% include ../../partials/nav_backdoor %>
    <div class="container">
        <div class="page-header">
            <div class="col-lg-6">
            <h2><매니저 DB 관리></h2>
            <h3>Number: <%= manager.number%></h3>
            <h3>현재 비밀번호: <%= manager.password%></h3>
              <div class="input-group">
                <input type="text" id="password" class="form-control" placeholder="Password...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" onClick="pwChange()">Change</button>
                </span>
              </div>          
          </div>
        </div>
    </div>

    <% include ../../partials/footer %>
    <% include ../../partials/javascript %>
    <% include ../../partials/swal %>

    <script>
      var pwChange = function(){
        var password = $('#password').val();
        $.ajax({
            url: '/backdoor/pwChange',
            type: 'post',
            data: {"password":password},
            dataType: 'JSON',
            success: function(result) 
            {
              if(result.status == 1){
                alert("비밀번호 변경 완료");
                location.replace("/backdoor/manager");
              }
            }
      })
    }
   

      $(document).ready(function(){
        $(window).bind('scroll', function() {
        var navHeight = $( window ).height() - 70;
          if ($(window).scrollTop() > navHeight) {
            $('nav').addClass('fixed');
          }
          else {
            $('nav').removeClass('fixed');
          }
        });
      });
    </script>

</body>
</html>
