<!DOCTYPE HTML>

<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <% include ../partials/ck %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="page-header">
            <h1>Here to create.</h1>
        </div>
        <div class="input-group mb-3">
            <input type="text" id="title" class="form-control" placeholder="Title">
        </div>
        <div class="create-editor">
            <button id="edit" class="btn btn-primary" onclick="edit()" type="button" style="display:inline">Edit</button>
            <button id='submit' class='btn btn-primary' onclick='submit()' type='button' style="display:none">Submit</button>
            <div id='editor' contenteditable='false'>
            </div>
        </div>
        <div>
           <input type = "checkbox" id="checkBox" onClick="password()">비밀번호
           <div id="passwordBox" style="display:none">
               <h4>Password:<input type ="password" id="password"></h4>
           </div>
       </div>
    </div>
    <script type="text/javascript">

    var edit = function(){
        var submit_button = document.getElementById("submit");
        submit_button.style.display = "inline";
        var edit_button = document.getElementById("edit");
        edit_button.style.display = "none";
        CKEDITOR.disableAutoInline = true;
        CKEDITOR.replace('editor');

        var editor = document.getElementById('editor');
        editor.contentEditable="true";
           /* BalloonEditor
               .create( document.querySelector( '#editor' ) )
               .then( editor => {
                    theEditor = editor;
               })
               .catch( error => {
                    console.error( error );
               });
                function getDataFromTheEditor() {
                   return theEditor.getData();
               };*/

    };

    title=""

    var submit = function(){
        var contents = CKEDITOR.instances.editor.getData();
        var editor = document.getElementById('editor');
        title = title.replace(/^\s*|\s*$/g, '');
        title = title.replace(/(<([^>]+)>)/gi, "");
        console.log(contents);
        console.log(title);
        if(title){
            $.ajax({
                url: '/create',
                type: 'post',
                data: {"contents": contents, "title": title, "password": password},
                dataType: 'JSON',
                success: function(result)
                {
                    console.log(result);
                    if ( result.status == 1 ) {
                        console.log("succees");
                        location.replace("/show?id="+result.newtitle);
                    } else {
                        alert('wiki title already exists.');
                        CKEDITOR.instances.editor.destroy();
                        editor.contentEditable = false;
                        $("#edit").css("display","inline");
                        $("#submit").css("display","none");
                    }
                }
             })
        } else {
            alert('title cannot blank.');
            CKEDITOR.instances.editor.destroy();
            editor.contentEditable = false;
            $("#edit").css("display","inline");
            $("#submit").css("display","none");
        }

    };

    var password = function(){
       var checkBox = document.getElementById("checkBox")
       var password = document.getElementById("passwordBox")

       if(checkBox.checked == true){
           password.style.display = "block"
       } else {
           password.style.display = "none"
       }
   }
    </script>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>

    <script>
       $('#password').on("input", function(){
               password = $(this).val();
           });
        $('#title').on("input", function(){
               title = $(this).val();
           });
   </script>

</body>
</html>
