<!DOCTYPE HTML>

<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <% include ../partials/ck %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="page-header">
            <h1>Here to create.</h1>
        </div>
        <div class="create-editor">
            <button id="edit" class="btn btn-primary" onclick="edit()" type="button">Edit</button>
            <button id="preview" class="btn btn-primary" onclick="preview()" type="button">Preview</button>
            <button id="submit" class="btn btn-primary" onclick="submit()" type="button">Submit</button>
            <!--type에서 submit으로 해야할지, button으로 해야할지..-->
            <div id="editor">
                <h1 id="h1title">input title here.</h1>
                <!-- h1을 잡아내질 못하네.., 그리고 id도 editor안으로 들어가버리면 잡아내질 못하네-->
                <!--ejs변수가 들어가 있어서, db에서 title이 notice인 data를 render시 글어와야함-->
            </div>
        </div>
    </div>
    <script type="text/javascript">
    // editor객체 문제.
    let balloonEditor;

    var edit = function(){
        BalloonEditor
            .create( document.querySelector( '#editor' )
            , {
        heading: {
            options: [
                { modelElement: 'heading1', viewElement: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'  }
            ]
        }})
            .then( editor => {
                balloonEditor = editor;
                console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            } );
    };
    var preview = function(){
        editor.destroy() 
            .catch( error => {
                console.log( error);
            } ); //이건 무엇을 원하는 건지 모르겟어 그냥 확인용인가?
    };
    var submit = function(){
        var data = balloonEditor.getData(); // 이 부분을 변경했어 
        console.log($('#h1title').val()); //title 발췌 확인.
        $.ajax({
            url: '/create',
            type: 'post',
            data: {"contents": data, /*"title": $('#title').val()*/},
            dataType: 'JSON',
            success: function(result) //result객체 반환 되는거 봐야함.
            {
                console.log(result);
                if ( result.status == 1 ) {
                    editor.destroy()
                        .catch( error => {
                            console.log( error);
                        } );
                    //controller render로 처리.
                } else {

                }
            }
         })
    };
    </script>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>

</body>
</html>
